.list {
  padding: 20px;
  height: 95vh;
  border-radius: 25px;
  background-color: #EFEFEF;
  position: relative;
}

.list__card {
  height: 120px;
  margin: 20px 0;
  border-radius: 25px;
  background-color: #8B2973;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__link {
  justify-content: center;
  align-items: center;
  width:100%;
}

.card__info-wrapper {
  color: white;
  display: flex;
  justify-content: space-around;
}

.card__logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__logo-img {
  width: 70px;
}

.card__date {
  padding-top: 10px;
}

.card__travel-wrapper {
  display: flex;
}

.travel__data-wrapper {
  margin: 0 25px;
}

.travel__city {
  padding: 5px;
}

.travel__time {
  padding: 5px;
}

.travel__icon-img {
  width: 15px;
}

.list__btn-wrapper {
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: flex;
  justify-content: flex-end;
}

.list__btn-label {
  width: 70px;
  padding-top: 5px;
  text-transform: uppercase;
}

.list__btn {
  width: 40px;
  height: 40px;
  border-radius: 80px;
}

.list__input {
  display: none;
}