.link-go-back {
  color:white;
  font-weight: 700;
}
.qr__detail-color-wrapper {
 display: flex;
 flex-direction: column;
 height: 95vh;
 border-radius: 25px;
 background-color:#EFEFEF;
 justify-content: center;
 align-items: center;
 position: relative;
 width: 100%; 
}
.qr__link-go-back-wrapper2{
  position: absolute;
  top: 5%;
  left: 7%; 
  height: 20%;
}

.detail-qr__small {
 box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.424);
 margin-right: 0px;
}