.link-go-back {
  color:white;
  font-weight: 700;
}
.qr__detail-color-wrapper {
 display: flex;
 flex-direction: column;
 height: 80vh;
 border-radius: 25px;
 background-color: white;
 justify-content: center;
 align-items: center;
 position: relative;
 width: 100%; 
 @media(min-width:500px){
  width:340px;
}
}
.qr__link-go-back-wrapper2{
  position: absolute;
  top: 5%;
  left: 7%; 
  height: 20%;
}

.fa-angle-left{
  color: white;
}

.qr-back{
  color: black;
}